@import 'styles/fonts';

body {
	margin: 0;
	background-color: var(--color-gray-light);
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea {
	font-family: 'Raleway', sans-serif;
}

select,
button {
	cursor: pointer;
	font-style: normal;

	&:disabled {
		cursor: not-allowed;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-style: normal;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	padding: 60px 30px;
}
